body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
  }

  h1, h2 {
    text-align: center;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table, th, td {
     background-color: transparent !important;
       color: yellowgreen !important; /* asegura que el texto sea blanco */
    border: 1px solid #fff;
    font-size: larger;
    font-weight: bold;
   
  
  }

  th, td {
    padding: 10px;
    text-align: center;
    
  }

  input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
  }

  input {
    width: 150px;
  }

  .boton-agregar {
    font-weight: bold;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid yellowgreen; /* Verde Bootstrap */
    color: yellowgreen;
    /* background-color: white; */
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: yellowgreen;
  }
  
  .boton-agregar:hover {
    background-color: yellowgreen;
    color: black;
    font-weight: bold ;
    transform: scale(1.05);
    border-color: black;
  }
  

  #totalMes {
    font-weight: bold;
    color: #34eebe;
    font-size: 34px;
    margin-top: 20px;
  }

  form {
    text-align: center;
  }